<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>689152380223-lacp3vf9hgc0vm2cmr11rhc4utrmcflc.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.689152380223-lacp3vf9hgc0vm2cmr11rhc4utrmcflc</string>
        <key>API_KEY</key>
        <string>AIzaSyC8rFjmXGXVhCY8Kkp_PXK8hHOEIMNxw78</string>
        <key>GCM_SENDER_ID</key>
        <string>689152380223</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.miguelo.suburbano.dev</string>
        <key>PROJECT_ID</key>
        <string>dev-suburbanoapp</string>
        <key>STORAGE_BUCKET</key>
        <string>dev-suburbanoapp.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:689152380223:ios:05fa670f7babe117</string>
        <key>DATABASE_URL</key>
        <string>https://dev-suburbanoapp.firebaseio.com</string>
    </dict>
</plist>
