//
//  Example.xcconfig
//  suburbano
//
//  Created by Miguel Angel Ruiz Galvez on 9/14/18.
//  Copyright © 2018 chimichanga studio. All rights reserved.
//

// System
APP_DISPLAY_NAME = Suburbano-Example
APP_BUNDLE_ID = x
SECURITY_APLICATION_GROUP = x

// APIs
SIMPLE_SLASH = /
MAIN_HOST = https:$(SIMPLE_SLASH)$(SIMPLE_SLASH)x
FSUBURBANOS_HOST = https:$(SIMPLE_SLASH)$(SIMPLE_SLASH)x

// MapBox
MAPBOX_ACCESS_TOKEN = x
