//
//  Example.xcconfig
//  suburbano
//
//  Created by Miguel Angel Ruiz Galvez on 9/14/18.
//  Copyright © 2018 chimichanga studio. All rights reserved.
//

SIMPLE_SLASH = /
APP_DISPLAY_NAME = XXXXXXXXx
MAIN_HOST = https:$(SIMPLE_SLASH)$(SIMPLE_SLASH)XXXXXXXX
FSUBURBANOS_HOST = https:$(SIMPLE_SLASH)$(SIMPLE_SLASH)XXXXXXXX
MAPBOX_ACCESS_TOKEN = XXXXXXXX
